chat-conf.json
{
  "name": "Excel to API",
  "nodes": [
    {
      "parameters": {
        "event": "file.changed",
        "fileId": "<TWOJE_FILE_ID>",
        "options": {}
      },
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "fileId": "={{$node[\"Google Drive Trigger\"].json[\"id\"]}}"
      },
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "googleDriveOAuth2Api": "<TWOJE_GOOGLE_CREDENTIALS>"
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "data",
        "options": {}
      },
      "name": "Read Spreadsheet File",
      "type": "n8n-nodes-base.readSpreadsheetFile",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "url": "<TWOJE_API_ENDPOINT>",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$node[\"Read Spreadsheet File\"].json}}",
        "headerParametersJson": "{\"Authorization\": \"Bearer <TWÓJ_TOKEN>\"}"
      },
      "name": "HTTP Request - send JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Read Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Spreadsheet File": {
      "main": [
        [
          {
            "node": "HTTP Request - send JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
